<table class="table table-striped">
  <thead>
    <tr>
      <th>Facility</th>
      <th>Created</th>
      <th>Requester Username</th>
      <th>Requester Name</th>
      <th>Status</th>
      <th>Scheduled</th>
      <th>Saved data</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for observation in observations %}
    <tr>
      <td>{{ observation.facility }}</td>
      <td>{{ observation.created }}</td>
      <td>{{ observation.user.username|default:"-" }}</td>
      <td>{{ observation.user.get_full_name|default:"-" }}</td>
      <td>{{ observation.status }}</td>
      <td>{{ observation.scheduled_start }}</td>
      <td>{{ observation.dataproduct_set.count }}</td>
      <td>
        <a href="{% url 'tom_observations:detail' observation.id %}">View</a>
        {% if observation.facility == 'LCO' and observation.status == 'COMPLETED' %}
        <form method="POST" action="{% url 'observation-process-lco' observation.id %}" style="display:inline-block; margin-left: 8px;">
          {% csrf_token %}
          <input type="submit" value="Force process" class="btn btn-secondary btn-sm">
        </form>
        {% endif %}
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="8">
        No observations yet for this target.
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
