{% load bootstrap4 static %}
<h4>Upload a data product</h4>
<p>
  For example CSVs, see the <a href="{% static 'tom_dataproducts/photometry_sample.csv' %}">photometry</a> and
  <a href="{% static 'tom_dataproducts/spectrum_sample.csv' %}">spectroscopy</a> sample files.
</p>
<form method="POST" action="{% url 'tom_dataproducts:upload' %}" enctype="multipart/form-data">
  {% csrf_token %}
  {% for hidden in data_product_form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% bootstrap_field data_product_form.files %}
  {% bootstrap_field data_product_form.data_product_type %}

  {% if data_product_form.groups %}
    {% bootstrap_field data_product_form.groups %}
  {% endif %}

  {% buttons %}
  <input type="submit" class="btn btn-primary" value="Upload" name="upload_dataproduct_form">
  {% endbuttons %}
</form>
